body {
    font-size: 16pt;
    font-family: sans-serif;
    background-color: #CBCBCB
}
h1{
  text-align: center;
}
a{
  color: #FF0000
}
.xe{
  filter: opacity(15%);
}
.ye{
  color: #FF0000;
}
img{
    float: right;
    margin: 5px;
    border-radius: 2pt
}
li{
      font-size: 13pt
    }
    .wabutton{
      width:49px;
      height:48px;
      position:fixed;
      bottom:135px;
      right:7px;
      z-index:100;
}
.sh{
  width:57px;
      height:57px;
      position:fixed;
      bottom:75px;
      right:1px;
      z-index:100;
      border-radius: 50px
}
marquee{
  font-size: 10pt
}
/*support google chrome*/
input::-webkit-input-placeholder{
	font-size: 10pt;
